################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Github/v17
/.vs/LinqCode/FileContentIndex
/LinqCode/obj/Debug/net6.0
/LinqCode/obj
